<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form method="post">
    <h3 th:text="${result}"></h3>
    <input type="number" name="number">
    <br>
    <input type="submit" name="operation" value="+">
    <input type="submit" name="operation" value="-">
    <input type="submit" name="operation" value="*">
    <input type="submit" name="operation" value="/">
    <input type="submit" name="operation" value="C">
</form>
</body>
</html>