<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
</head>
<body>

<div th:each="product, status : ${products}">

    <form method="post">
        <input th:value="${product}" name="product" value="${product}">
        <input type="hidden" name="index" th:value="${status.index}">
        <input type="submit" name="action" value="Del">
        <input type="submit" name="action" value="Change">
    </form>

    <br>
</div>

<br>

<form method="post">
    <input type="text" name="product">
    <input type="submit" value="Add">
</form>
</body>
</html>