<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle Confirm</title>
</head>
<body>
<h1>The Vehicle Has Been Registered</h1>

<table th:object="${vehicle}">

    <tr>
        <td><label for="brand">Brand:</label></td>
        <td><input disabled id="brand" th:value="*{brand}" /></td>
    </tr>

    <tr>
        <td><label for="type">Type:</label></td>
        <td><input disabled id="type" th:value="*{type}" /></td>
    </tr>

    <tr>
        <td><label for="year">Year:</label></td>
        <td><input disabled id="year" th:value="*{year}" /></td>
    </tr>

    <tr>
        <td><label for="fuel">Fuel:</label></td>
        <td><input disabled id="fuel" th:value="*{fuel}" /></td>
    </tr>

    <tr>
        <td><label for="transmissionType">Transmission:</label></td>
        <td><input disabled id="transmissionType" th:value="*{transmissionType}" /></td>
    </tr>

    <tr>
        <td><label for="towBar">Towbar:</label></td>
        <td><input disabled id="towBar" th:value="*{towBar}" /></td>
    </tr>

    <tr>
        <td><label for="options">Options:</label></td>
        <td>
            <input th:each="option : *{options}" disabled id="options" th:value="${option}" />
        </td>
    </tr>

    <tr>
        <td><label for="entryIntoService">Entry into service:</label></td>
        <td><input disabled id="entryIntoService" th:value="${deis}" /></td>
    </tr>

    <tr>
        <td><label for="plate">Plate:</label></td>
        <td><input disabled id="plate" th:value="*{plate}" /></td>
    </tr>

    <tr>
        <td><label for="listPrice">Price:</label></td>
        <td><input disabled id="listPrice" th:value="*{listPrice}" /> €</td>
    </tr>

</table>

</body>
</html>