<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="../../../resources/css/vehicleForm.css" />
    <title>Vehicle Registration</title>
</head>
<body>
<h1>Vehicle Registration</h1>
<form method="post" th:object="${vehicle}">

    <table>

        <tr>
            <td><label th:for="brand">Brand:</label></td>
            <td>
                <input th:id="brand" th:name="brand" th:type="text" th:field="*{brand}" th:errorClass="errorField" />
                <br>
                <span th:if="${#fields.hasErrors('brand')}" class="errorMessage" th:errors="*{brand}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="type">Type:</label></td>
            <td>
                <input id="type" name="type" type="text" th:field="*{type}" th:errorClass="errorField" />
                <br>
                <span th:if="${#fields.hasErrors('type')}" class="errorMessage" th:errors="*{type}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="year">Year:</label></td>
            <td>
                <input id="year" name="year" type="number" th:field="*{year}" th:errorClass="errorField" />
                <br>
                <span th:if="${#fields.hasErrors('year')}" class="errorMessage" th:errors="*{year}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="fuel">Fuel:</label></td>
            <td>
                <select id="fuel" name="fuel" th:field="*{fuel}" th:errorClass="errorField">
                    <option th:each="ft: ${T(be.janolaerts.springmvcopdrachten.vehicleenum.FuelType).values()}" th:value="${ft}" th:text="${ft}"></option>
                </select>
                <br>
                <span th:if="${#fields.hasErrors('fuel')}" class="errorMessage" th:errors="*{fuel}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="power">Power (kW):</label></td>
            <td>
                <input id="power" name="power" type="number" th:field="*{power}" th:errorClass="errorField" />
                <br>
                <span th:if="${#fields.hasErrors('power')}" class="errorMessage" th:errors="*{power}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="transmissionType">Transmission:</label></td>
            <td>
            <div id="transmissionType" name="transmissionType" th:field="*{transmissionType}" th:each="tt : ${T(be.janolaerts.springmvcopdrachten.vehicleenum.TransmissionType).values()}">
                       <label th:for="${#ids.next('transmissionType')}" th:text="${tt}"></label>
                        <br>
                        <input type="radio" th:field="*{transmissionType}" th:value="${tt}" th:errorClass="errorField" />
                </div>
            </td>
            <tr>
                <td></td>
                <td>
                    <span th:if="${#fields.hasErrors('transmissionType')}" class="errorMessage" th:errors="*{transmissionType}"></span>
                </td>
            </tr>
        </tr>

        <tr>
            <td><label for="towBar">Towbar:</label></td>
            <td>
                <input id="towBar" name="towBar" type="checkbox" th:field="*{towBar}">
            </td>
        </tr>

        <tr>
            <td><label for="options">Options:</label></td>
            <td>
                <select id="options" name="options" th:field="*{options}" multiple>
                    <option th:each="option : ${optionsList}" th:value="${option}" th:text="${option}"></option>
                </select>
            </td>
        </tr>

        <tr>
            <td><label for="entryIntoService">Date entry into service (dd/mm/yyyy):</label></td>
            <td>
                <input id="entryIntoService" name="entryIntoService" type="text" th:field="*{entryIntoService}" th:errorClass="errorField" />
                <br>
                <span th:if="${#fields.hasErrors('entryIntoService')}" class="errorMessage" th:errors="*{entryIntoService}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="plate">Plate (D-XXX-DDD):</label></td>
            <td>
                <input id="plate" name="plate" type="text" th:field="*{plate}" th:errorClass="errorField" />
                <br>
                <span th:if="${#fields.hasErrors('plate')}" class="errorMessage" th:errors="*{plate}"></span>
            </td>
        </tr>

        <tr>
            <td><label for="listPrice">Price:</label></td>
            <td>
                <input id="listPrice" name="listPrice" type="text" th:field="*{listPrice}" th:errorClass="errorField" /> €
                <br>
                <span th:if="${#fields.hasErrors('listPrice')}" class="errorMessage" th:errors="*{listPrice}"></span>
            </td>
        </tr>

    </table>

    <input type="submit" value="Register">

</form>
</body>
</html>