<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
</head>
<body>
<h1>Book List</h1>
<ul>

<!--    <li><a th:href="@{books/} + ${status.index}" th:text="*{title}"></a></li>-->
    <li th:each="book, status : ${books}" th:object="${book}"><a th:href="@{books(isbn=*{isbn})}" th:text="*{title}"></a></li>
</ul>
</body>
</html>