<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Detail</title>
</head>
<body>
<h1>Book Detail</h1>
<div th:object="${book}">
    Title: <div th:text="*{title}"></div>
    Author: <div th:text="*{author}"></div>
    Isbn: <div th:text="*{isbn}"></div>
    price: <div th:text="*{price}"></div>
</div>
</body>
</html>